<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <node pkg="kf_launch" type="beat.py" name="logbeat" output="screen">
        <param name="rate" value="4"/>
    </node>

    <node pkg="rosbag" type="record" name="record" output="screen" args="--size 50 --split 0 
        /cmd_drive
        /cmd_vel 
        /diagnostics 
        /gps/extfix 
        /gps/fix 
        /gps/odom 
        /gps/time_reference 
        /gps/vel 
        /has_wifi 
        /imu/mag 
        /imu/rpy 
        /imu/data 
        /lm/sensors
        /motor_enable 
        /reverse_time_ms 
        /sense 
        /lidar/scan 
        /tf 
        /axis/twist 
        /compass/compass 
        /task_server/status 
        /task_server/angle_status 
        /task_server/dist_status">
    </node>

</launch>
