?xml version="1.0" encoding="UTF-8" ?>

<launch>

    <node pkg="rosbag" type="record" name="record" output="screen" args="--size 50 --split 0 
        /axis/state 
        /cmd_drive
        /cmd_vel 
        /cmd_mux/cmd_vel
        /teleop/twistCommand
        /mux/safeCommand
        /kf_ratecontrol/command
        /mux/autoCommand
        /diagnostics 
        /gps/extfix 
        /gps/fix 
        /gps/odom 
        /gps/time_reference 
        /gps/vel 
        /has_wifi 
        /imu/mag 
        /imu/rpy 
        /imu/data 
        /lm/sensors
        /motor_enable 
        /reverse_time_ms 
        /sense 
        /lidar/scan 
        /tf 
        /axis/twist 
        /compass/compass 
        /task_server/status 
        /task_server/angle_status 
        /board_pose
        /board_limit
        /task_server/dist_status">
    </node>

</launch>
