<launch>

 <!-- Axes -->
  <node pkg="teleop_mux" type="teleop.py" name="teleop">
      <param name="axis_linear" value="1" type="int"/>
      <param name="axis_angular" value="0" type="int"/>
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_angular" value="1.0" type="double"/>
      <remap from="/teleop/joy" to="/joy"/>
  </node>

  <node pkg="topic_tools" type="mux" name="cmd_mux" 
      args="/cmd_mux/cmd_vel /teleop/twistCommand /mux/safeCommand">
  </node>

  <node pkg="teleop_mux" type="teleop_mux.py" name="teleop_mux">
      <param name="joystick_button" value="0" type="int"/>
      <param name="joystick_topic" value="/teleop/twistCommand"/>
      <param name="auto_button" value="1" type="int"/>
      <param name="auto_topic" value="/mux/safeCommand"/>
      <param name="safety_timeout" value="1800.0"/>
      <remap from="/teleop_mux/joy" to="/joy"/>
  </node>

  <node pkg="laser_safety" type="collision_avoidance" name="safety" output="screen">
      <remap from="/safety/pointcloud" to="/vrep/hokuyoSensor"/> <!-- for simulation -->
      <remap from="/safety/scan" to="/lidar/scan"/> <!-- for real -->
      <remap from="/safety/output" to="/kf_ratecontrol/command"/> 
      <remap from="/safety/input" to="/mux/autoCommand"/> 
      <param name="lateral_tolerance" value="1.0"/>
      <param name="allow_reverse" value="true"/>
      <param name="distance_max_reverse" value="1.0"/>
      <param name="distance_zero" value="1.5"/>
      <param name="distance_max_forward" value="3.0"/>
      <param name="forward_speed" value="1.0"/>
      <param name="reverse_speed" value="-1.0"/>
  </node>

  <!-- motor node -->
  <node pkg="rate_control" type="rate_control" name="kf_ratecontrol">
    <param name="kp" value="3.5"/>
    <param name="ki" value="0.2"/>
    <param name="period" value="0.04"/>
    <param name="imax" value="1"/>
    <param name="motor_zero" value="0.0"/>
    <remap from="/kf_ratecontrol/motors" to="/mux/safeCommand"/>
    <remap from="/kf_ratecontrol/imu" to="/imu/data"/>

  </node>


</launch>
